:root {

    --white-incomplete: #e5e5e5;
    --loading: rgba(0, 0, 0, 0.473);

    --black: #010a1c;
    --blue: #013766;
    --wine: #490009;
    --red: #ac0e28;
    --pink: #bc4558;
    --cyan: #14d4d4;
    --white: #e7e7e7;
    --yellow: #ffff41;

    //transparent colors
    --blackT: #010a1c7a;
    --blueT: #013766d8;
    --wineT: #490009c5;
    --redT: #ac0e28b7;
    --pinkT: #bc4559ce;
    --cyanT: #14d4d4b4;
    --whiteT: #f8efef;
    --yellowT: rgba(255, 255, 65, 0.705);

    --shadowWine: 2px 0 var(--wine), -2px 0 var(--wine), 0 2px var(--wine), 0 -2px var(--wine),
        1px 1px var(--wine), -1px -1px var(--wine), 1px -1px var(--wine), -1px 1px var(--wine);
}

[data-theme="dark"] {
    --white-incomplete: #252525be;
    --loading: rgba(202, 194, 194, 0.473);

    --black: #f8f4f4;
    --blue: #010a1c;
    --wine: #e43a57;
    --red: #ff3048;
    --pink: #010a1c;
    --cyan: rgb(0, 255, 255);
    --white: rgba(37, 37, 37, 0.897);
    --yellow: rgb(255, 255, 50);
    
    --blueT: #010a1c;
}